{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <h2>Bienvenue sur le test de Symfony UX</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid blanditiis consequatur delectus dolor explicabo facere illum inventore, magni minus necessitatibus possimus sit voluptatum. Accusantium animi dicta dolorem earum voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid blanditiis consequatur delectus dolor explicabo facere illum inventore, magni minus necessitatibus possimus sit voluptatum. Accusantium animi dicta dolorem earum voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid blanditiis consequatur delectus dolor explicabo facere illum inventore, magni minus necessitatibus possimus sit voluptatum. Accusantium animi dicta dolorem earum voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid blanditiis consequatur delectus dolor explicabo facere illum inventore, magni minus necessitatibus possimus sit voluptatum. Accusantium animi dicta dolorem earum voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid blanditiis consequatur delectus dolor explicabo facere illum inventore, magni minus necessitatibus possimus sit voluptatum. Accusantium animi dicta dolorem earum voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid blanditiis consequatur delectus dolor explicabo facere illum inventore, magni minus necessitatibus possimus sit voluptatum. Accusantium animi dicta dolorem earum voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid blanditiis consequatur delectus dolor explicabo facere illum inventore, magni minus necessitatibus possimus sit voluptatum. Accusantium animi dicta dolorem earum voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid blanditiis consequatur delectus dolor explicabo facere illum inventore, magni minus necessitatibus possimus sit voluptatum. Accusantium animi dicta dolorem earum voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid blanditiis consequatur delectus dolor explicabo facere illum inventore, magni minus necessitatibus possimus sit voluptatum. Accusantium animi dicta dolorem earum voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid blanditiis consequatur delectus dolor explicabo facere illum inventore, magni minus necessitatibus possimus sit voluptatum. Accusantium animi dicta dolorem earum voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid blanditiis consequatur delectus dolor explicabo facere illum inventore, magni minus necessitatibus possimus sit voluptatum. Accusantium animi dicta dolorem earum voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid blanditiis consequatur delectus dolor explicabo facere illum inventore, magni minus necessitatibus possimus sit voluptatum. Accusantium animi dicta dolorem earum voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid blanditiis consequatur delectus dolor explicabo facere illum inventore, magni minus necessitatibus possimus sit voluptatum. Accusantium animi dicta dolorem earum voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid blanditiis consequatur delectus dolor explicabo facere illum inventore, magni minus necessitatibus possimus sit voluptatum. Accusantium animi dicta dolorem earum voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid blanditiis consequatur delectus dolor explicabo facere illum inventore, magni minus necessitatibus possimus sit voluptatum. Accusantium animi dicta dolorem earum voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid blanditiis consequatur delectus dolor explicabo facere illum inventore, magni minus necessitatibus possimus sit voluptatum. Accusantium animi dicta dolorem earum voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid blanditiis consequatur delectus dolor explicabo facere illum inventore, magni minus necessitatibus possimus sit voluptatum. Accusantium animi dicta dolorem earum voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid blanditiis consequatur delectus dolor explicabo facere illum inventore, magni minus necessitatibus possimus sit voluptatum. Accusantium animi dicta dolorem earum voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid blanditiis consequatur delectus dolor explicabo facere illum inventore, magni minus necessitatibus possimus sit voluptatum. Accusantium animi dicta dolorem earum voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid blanditiis consequatur delectus dolor explicabo facere illum inventore, magni minus necessitatibus possimus sit voluptatum. Accusantium animi dicta dolorem earum voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid blanditiis consequatur delectus dolor explicabo facere illum inventore, magni minus necessitatibus possimus sit voluptatum. Accusantium animi dicta dolorem earum voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid blanditiis consequatur delectus dolor explicabo facere illum inventore, magni minus necessitatibus possimus sit voluptatum. Accusantium animi dicta dolorem earum voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid blanditiis consequatur delectus dolor explicabo facere illum inventore, magni minus necessitatibus possimus sit voluptatum. Accusantium animi dicta dolorem earum voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid blanditiis consequatur delectus dolor explicabo facere illum inventore, magni minus necessitatibus possimus sit voluptatum. Accusantium animi dicta dolorem earum voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid blanditiis consequatur delectus dolor explicabo facere illum inventore, magni minus necessitatibus possimus sit voluptatum. Accusantium animi dicta dolorem earum voluptatibus.</p>

{% endblock %}
